
// Converted Variables


// Custom Media Query Variables


/* Custom AV styles and Tachyons overrides */

a {
  color: $red;
  text-decoration: none;
  border-bottom: 4px solid $red-20;
}

.animate {
  transition: all .15s ease-in-out;
}

.hover-rotate:hover {
  transform: rotate(2deg);
}

.overflow-mw {
  position: relative;
  width: 100vw;
  left: 50%;
  margin-left: -50vw;
}

.bg-image-1 { background-image: url(../images/infrastructure.jpg); }
