<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>{{ page.title }} | Action Verb</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon-precomposed" href="images/touch.png">
    <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/main.css">
  </head>

  <body class="sans-serif bg-dark-brown-05">

    <a href="#main-content" class="offscreen f3 tc b pa3 lh-copy">Skip to main content</a>

    <header class="bg-red pa25 ph3">
      <div class="header-wrapper mw8 cf center dt w-100">
        <div class="logo dtc v-mid tl">
          <a class="dib mw35 animate hover-rotate" href="/">
            <img src="images/av-logo-yellow.svg" alt="Action Verb" />
          </a>
        </div>
        <div class="menu dtc v-mid tr washed-yellow">
          <button class="tr br2 hamburger hamburger--3dy bg-animate hover-bg-black-10" type="button" aria-label="Menu" aria-controls="navigation">
            <span class="hamburger-box v-mid">
              <span class="hamburger-inner"></span>
            </span>
            <span class="hamburger-label b pl2 ml1 v-mid ttu tracked">Menu</span>
          </button>
        </div>
      </div>
    </header>

    <div class="nav absolute left-0 right-0 ph3 tc gradient-red z-1 shadow-6">
      <div class="nav-wrapper relative mw8 center f2-ns f3 b pt3 pt0-ns pb4">
        <nav>
          <a class="db bn pv3-ns pv2 mb3" href="core-beliefs">Our Core Beliefs</a>
          <a class="db bn pv3-ns pv2 mv3" href="holacracy">Our Holacracy Practice</a>
          <a class="db bn pv3-ns pv2 mv3" href="open-book-management">Open-Book Management</a>
          <a class="db bn pv3-ns pv2 mv3" href="working-at-action-verb">Working at Action Verb</a>
          <a class="db bn pv3-ns pv2 mv3" href="interview-prep">Interview Preparation</a>
          <a class="db bn pv3-ns pv2 mv3 i" href="now-hiring">Open Positions: We're Hiring!</a>
        </nav>
      </div>
    </div>

    <section class="content pa3 pt0 lh-copy">
      <div class="content-wrapper center mw8">
        <div class="{{ page.hero-class }} feature-head overflow-mw tc cover bg-center">
          <div class="feature-head-wrapper bg-dark-brown-95 pv4 pv5-l ph3 screen">
            <h1 class="lh-title mw8 center white-90 space f1-l f2 break-word">{{ page.title }}</h1>
          </div>
        </div>
        <div id="main-content" class="sub-content pv0 pv2-ns f5 f4-ns">
          {{ content }}
        </div>
      </div>
    </section>

    <footer class="footer lh-copy white-80">
      <div class="main-footer pa3 pv5 overflow-mw bg-dark-brown">
        <div class="main-footer-wrapper mw8 center">

          <section class="footer-logo">
            <a class="dib mw35 bg-transparent" href="/">
              <img src="images/av-logo-red.svg" alt="Action Verb" />
            </a>
          </section>

          <div class="cf">
            <section class="nav-redundancy fl w-100 w-third-ns pr4">
              <h3 class="f6 fw1 ttu mt4 mb3 white-30 tracked-slight">This Website</h3>
              <ul class="list pl0 mt0">
                <li class="mb2"><a href="core-beliefs">Our Core Beliefs</a></li>
                <li class="mb2"><a href="holacracy">Our Holacracy Practice</a></li>
                <li class="mb2"><a href="open-book-management">Open-Book Management</a></li>
                <li class="mb2"><a href="working-at-action-verb">Working at Action Verb</a></li>
                <li class="mb2"><a href="interview-prep">Interview Preparation</a></li>
                <li class="mb2"><a href="now-hiring">Open Positions: We're Hiring!</a></li>
              </ul>
            </section>

            <section class="nav-products fl w-100 w-third-ns pr4">
              <h3 class="f6 fw1 ttu mt4 mb3 white-30 tracked-slight">Our Products</h3>
              <ul class="list pl0 mt0">
                <li class="mb2"><a href="https://brickftp.com/">BrickFTP</a></li>
                <li class="mb2"><a href="https://vaeplatform.com/">Vae Platform</a></li>
              </ul>
            </section>

            <section class="nav-internet-homes fl w-100 w-third-ns pr4">
              <h3 class="f6 fw1 ttu mt4 mb3 white-30 tracked-slight">Contact</h3>
              <ul class="list pl0 mt0">
                <li class="mb2"><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                <li class="mb2 white-60">1-800-286-8372</li>
              </ul>
              <h3 class="f6 fw1 ttu mt4 mb3 white-30 tracked-slight">Elsewhere on the Web</h3>
              <ul class="list pl0 mt0">
                <li class="mb2 dib pr2 mr1"><a class="image-link" href="https://github.com/actionverb"><img src="images/logo-github.svg" alt="GitHub" /></a></li>
                <li class="mb2 dib pr2 mr1"><a class="image-link" href="https://www.linkedin.com/company/3940357/"><img src="images/logo-linkedin.svg" alt="LinkedIn" /></a></li>
                <li class="mb2 dib pr2 mr1"><a class="image-link" href="https://stackoverflow.com/jobs/companies/action-verb"><img src="images/logo-stack-overflow.svg" alt="Stack Overflow" /></a></li>
                <li class="mb2 dib pr2 mr1"><a class="image-link" href="https://twitter.com/action_verb"><img src="images/logo-twitter.svg" alt="Twitter" /></a></li>
              </ul>
            </section>
          </div>
        </div>
      </div>

      <div class="sub-footer pa3 pv4 overflow-mw bg-near-black">
        <div class="sub-footer-wrapper mw8 center">
          <section class="copyright cf">
            <p class="mt0 mb1 white-30 ttu f6 fw1 tracked-slight">&copy; 2017 Action Verb LLC, all rights reserved</p>
            <a href="/privacy-policy">Master Privacy Policy</a>
          </section>
        </div>
      </div>

    </footer>

    <script src="js/main.js"></script>

  </body>
</html>
