<!DOCTYPE html>
<html>
 <head>
  <title>{{ page.title }} | Action Verb</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/css/screen.css?v={{ site.time | date: '%s' }}" type="text/css" />
  <link rel="shortcut icon" href="/images/favicon.png" />
  <link rel="canonical" href="https://www.actionverb.com{{ site.baseurl }}{{ page.url | replace:'index.html','' }}">
 </head>
 <body class="{{ page.body_class }}">
  <div id="wrapper">
   <div id="left_area">
    <div class="logo"></div>
    <div id="nav">
     <a href="/core-beliefs">Our Core Beliefs</a>
     <a href="/holacracy">Our Holacracy Practice</a>
     <a href="/now-hiring">Open Positions: We're Hiring</a>
     <a href="/interview-prep">Interview Preparation</a>
     <a href="https://brickftp.com/" target="_blank">BrickFTP</a>
     <a href="https://vaeplatform.com/" target="_blank">Vae Platform</a>
    </div>
   </div>
   <div id="main">
    <div class="inside">
     <div id="header"></div>
     {{ content }}
    </div>
    <div id="footer">
     <a href="https://brickftp.com/" target="_blank">BrickFTP</a> |
     <a href="https://vaeplatform.com/" target="_blank">Vae Platform</a> |
     <a href="/privacy-policy" title="Privacy Policy">Master Privacy Policy</a>
    </div>
    <div id="copyright">
     Copyright &copy;2017 Action Verb LLC.  All rights reserved.
    </div>
   </div>
   <div class="clear"></div>
  </div>
 </body>
</html>
